[submodule "components/idf-extra-components"]
	path = components/idf-extra-components
	url = git@github.com:espressif/idf-extra-components
[submodule "components/espp"]
	path = components/espp
	url = git@github.com:esp-cpp/espp
