menu "Camera Display Configuration"

    choice
        prompt "Hardware Configuration"
        default HARDWARE_BOX
        help
            Select the dev-kit / hardware you're using.
        config HARDWARE_BOX
            bool "ESP BOX"
        config HARDWARE_BOX_3
            bool "ESP BOX 3"
        config HARDWARE_TDECK
            bool "LILYGO T DECK"
    endchoice

    config ESP_WIFI_SSID
        string "WiFi SSID"
        default "myssid"
        help
            SSID (network name) for the camera streamer to connect to.

    config ESP_WIFI_PASSWORD
        string "WiFi Password"
        default "mypassword"
        help
            WiFi password (WPA or WPA2) for the camera streamer to use.

    config ESP_MAXIMUM_RETRY
        int "Maximum retry"
        default 5
        help
            Set the Maximum retry to avoid station reconnecting to the AP unlimited when the AP is really inexistent.

endmenu
